@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgba(2, 57, 158, 0.815);
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: aliceblue;
}

.result-container-custom {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
    border-radius: 66px;
    margin-top: 4px;
}

.img-icons{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.state-flag{
    display: flex;
    position: fixed;
    left: 63%;
    top: 50%;
    transform: translate(40%, 140%);
}
